body {
  background: url("sky.png")
}

.board, th, td {
   float: center;
   border: 1px solid black;

}

td {
  width: 100px;
  height: 100px;
  background-color: white;
  text-align: center;
  font-family: arial;
  font-size: 2em;
}
